<!-- <p>progress works!</p> -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 5px"
            role="progressbar"
            [style.width]="getPorcentaje1"
          ></div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 5px"
            role="progressbar"
            [style.width]="getPorcentaje2"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          [progress]="progress01"
          (valorsalida)="progress01 = $event"
          ></app-incrementador>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <app-incrementador
          [btnclass]="'btn-info'"
          [progress]="progress02"
          (valorsalida)="progress02 = $event"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>
